{% extends "homebase.html" %}
{% load static %}

{% block title %} Cyberpunk 2077 {% endblock %}

{% block content %}

<section class="py-20 bg-cover bg-center" style="background-image: url('https://images6.alphacoders.com/137/1370616.jpeg')">
    <div class="flex flex-col">
        <div class="py-8">
            <div class="container mx-auto px-4">
                <h1 class="text-4xl font-bold text-white mb-2" style="margin-left: 70px;"> Cyberpunk 2077 </h1>
                <p class="text-gray-200 mb-2" style="margin-left: 70px;">PC XBOX360 PS5 </p>
                <p class="text-gray-200" style="margin-left: 70px;">Posted: 27 Sep 2024</p>
            </div>
        </div>
    
    <div class="container mx-auto px-4 flex justify-center ">
        <iframe width="800" height="450" src="https://video.akamai.steamstatic.com/store_trailers/256987121/movie480_vp9.webm?t=1701872779" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
    </div>
</section>

    <div class="bg-white py-8">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >Cyberpunk 2077 คือเกมอะไร</blockquote>
                <img src="https://images3.alphacoders.com/133/1333016.jpeg" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                    Cyberpunk 2077 เป็นเกมสวมบทบาทแนวแอคชั่นผจญภัยแบบโลกเปิดดำเนินเรื่องในมหานครไนท์ซิตี้ที่คุณจะเล่นเป็นทหาร<br>รับจ้างไซเบอร์พังก์ที่ไปอยู่ในสถานการณ์ที่สู้
                    เพื่อเป็นหรือตายเพื่อเอาตัวรอด ปรับปรุงและประกอบไปด้วยเนื้อหาเพิ่มเติมฟรีใหม่ ๆ<br> ปรับแต่งตัวละครและสไตล์การเล่นของคุณอย่างเต็มรูปแบบขณะที่คุณทำงานต่างๆ 
                    สร้างชื่อเสียงของคุณ และปลดล็อกอัปเกรดต่างๆ<br> ความสัมพันธ์ที่คุณได้สร้างและตัวเลือกที่คุณเลือกจะมีผลต่อเรื่องราวของคุณและโลกรอบตัวคุณ ตำนานเริ่มที่นี่ 
                    แล้วตำนานของคุณจะ<br>เป็นอย่างไร
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-yellow-300 py-8">
        <div class="container mx-auto px-4 text-center">
            <h2 class="text-4xl font-bold text-gray-900 mb-8">จุดเด่นของ Cyberpunk 2077</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="flex flex-col items-center">
                    <img src="https://i.kinja-img.com/image/upload/c_fit,q_60,w_1315/tzq8rhbmo7r73i8hnayg.jpg" alt="สร้าง Cyberpunk ของคุณเอง" class="rounded-md shadow-lg mb-4" style="width: 600px; height: auto;">
                    <h3 class="text-xl font-bold text-gray-900 mb-2">สร้าง Cyberpunk ของคุณเอง</h3>
                    <p class="text-gray-700">สวมบทบาทท่ามกลางกฎหมายยุคใหม่ที่มีการปรับแต่งด้วยอุปกรณ์ไซเบอร์และสร้างตำนานของคุณบนถนนของ Night City</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="https://cdn.neow.in/news/images/uploaded/2018/06/1528834556_screen-just-around-the-corner.7.jpg" alt="สำรวจเมืองในอนาคต" class="rounded-md shadow-lg mb-4" style="width: 600px; height: auto;">
                    <h3 class="text-xl font-bold text-gray-900 mb-2">สำรวจเมืองในอนาคต</h3>
                    <p class="text-gray-700">Night City เต็มไปด้วยสิ่งต่างๆ ให้ทำ ที่ต่างๆ ให้เห็น และผู้คนต่างๆ ให้พบ และคุณก็เลือกเองว่าจะไปที่ไหน ไปเมื่อไร และจะไปที่นั่นอย่างไร</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="https://today-obs.line-scdn.net/0hfizHEdiQOUZHMRHSfqVGEX1nOil0XSpFIwdoRRtfZ3I-VnwSfgV0c2tlNCZuBH4YKQRzKWY1Inc4AikUKAR0/w1200" alt="สร้างตำนานของตัวเอง" class="rounded-md shadow-lg mb-4" style="width: 600px; height: auto;">
                    <h3 class="text-xl font-bold text-gray-900 mb-2">สร้างตำนานของตัวเอง</h3>
                    <p class="text-gray-700">ออกสู่การผจญภัยสุดคลั่งและสร้างความสัมพันธ์กับตัวละครที่จะลืมไม่ลงที่โชคชะตาของพวกเขาขึ้นอยู่กับตัวเลือกที่คุณเลือก</p>
                </div>
            </div>
        </div>
    </div>    

    <div class="bg-white py-8">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" > สเปคแนะนำ </blockquote>
                <div class="prose max-w-none">
                    <table style="width: 90%; margin-left: 70px;">
                        <thead>
                            <tr>
                                <th>ขั้นต่ำ:</th>
                                <th>แนะนำ:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ต้องการโปรเซสเซอร์และระบบปฏิบัติการแบบ 64 บิต</td>
                                <td>ต้องการโปรเซสเซอร์และระบบปฏิบัติการแบบ 64 บิต</td>
                            </tr>
                            <tr>
                                <td>ระบบปฏิบัติการ: 64-bit Windows 10</td>
                                <td>ระบบปฏิบัติการ: 64-bit Windows 10</td>
                            </tr>
                            <tr>
                                <td>โปรเซสเซอร์: Intel Core i7-6700  or Ryzen 5 1600 </td>
                                <td>โปรเซสเซอร์: Intel Core i7-12700  or Ryzen 7 7800X3D </td>
                            </tr>
                            <tr>
                                <td>หน่วยความจำ: แรม 12 GB</td>
                                <td>หน่วยความจำ: แรม 16 GB</td>
                            </tr>
                            <tr>
                                <td>กราฟิก: NVIDIA GeForce GTX 1060 6GB or Radeon RX 580 8GB or Arc A380 </td>
                                <td>กราฟิก: Nvidia  GeForce RTX 2060 SUPER or Radeon RX 5700 XT or Arc A770 </td>
                            </tr>
                            <tr>
                                <td>DirectX: เวอร์ชัน 12</td>
                                <td>DirectX: เวอร์ชัน 12</td>
                            </tr>
                            <tr>
                                <td>พื้นที่จัดเก็บข้อมูล: พื้นที่ว่างที่พร้อมใช้งาน 70 GB</td>
                                <td>พื้นที่จัดเก็บข้อมูล: พื้นที่ว่างที่พร้อมใช้งาน 70 GB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>


{% endblock content %}