{% extends "homebase.html" %}
{% load static %}

{% block title %} DOOM ETERNAL {% endblock %}

{% block content %}

<section class="py-20 bg-cover bg-center" style="background-image: url('https://images3.alphacoders.com/137/1374373.jpg')">
    <div class="flex flex-col">
        <div class="py-8">
            <div class="container mx-auto px-4">
                <h1 class="text-4xl font-bold text-white mb-2" style="margin-left: 70px;"> DOOM ETERNAL </h1>
                <p class="text-gray-200 mb-2" style="margin-left: 70px;">PC XBOX360 PS5 </p>
                <p class="text-gray-200" style="margin-left: 70px;">Posted: 27 Sep 2024</p>
            </div>
        </div>
    
    <div class="container mx-auto px-4 flex justify-center">
        <iframe width="800" height="450" src="https://video.akamai.steamstatic.com/store_trailers/256857551/movie480_vp9.webm?t=1635282017" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    </div>    
</section>

        <div class="bg-white py-8">
            <div class="container mx-auto px-4 flex flex-col md:flex-row">
                <div class="px-6">
                    <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >พบกับต้นกำเนิดของ DOOM Slayer และภารกิจแสนทรหด<br>เพื่อฉีกและกระชาก</blockquote>
                    <img src="https://images7.alphacoders.com/112/1126862.jpg" 
                    alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                    <div class="prose max-w-none">
                        <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                            ㅤกองทัพจากนรกบุกโลกแล้ว สวมบทบาท Slayer ในแคมเปญผู้เล่นคนเดียวเพื่อปราบเหล่าปีศาจจากต่างมิติและหยุดการ<br>
                            ทำลายล้างมนุษยชาติครั้งสุดท้าย สิ่งเดียวที่พวกมันกลัว... คือคุณสัมผัสสุดยอดการผสมผสานระหว่างความเร็วและพลังใน 
                            <br>DOOM Eternal การผลักดันเกมแนวมุมมองบุคคลที่หนึ่งที่ยิ่งใหญ่
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-gray-500 py-1">
            <div class="container mx-auto px-4 text-center">
                <h2 class="text-4xl font-bold text-white mb-8">จุดเด่นของ DOOM Eternal</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                    <div class="flex flex-col items-center">
                        <img src="https://images4.alphacoders.com/113/1137625.jpg" alt="ระดับภัยอันตราย Slayer อยู่ที่สูงสุด" class="rounded-md shadow-lg mb-4" style="width: 600px; height: auto;">
                        <h3 class="text-xl font-bold text-white mb-2">ระดับภัยอันตราย Slayer อยู่ที่สูงสุด</h3>
                        <p class="text-white">มีปืนพ่นไฟติดไหล่ มีดติดข้อมือยืดหดได้ ปืนและม็อดและความสามารถที่อัปเกรดแล้ว คุณจะเร็วขึ้น แข็งแรงขึ้น และยืดหยุ่นขึ้นกว่าที่เคย</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="https://images.alphacoders.com/981/981727.jpg" alt="สามสิ่งเพื่อการสังหาร" class="rounded-md shadow-lg mb-4" style="width: 600px; height: auto;">
                        <h3 class="text-xl font-bold text-white mb-2">สามสิ่งเพื่อการสังหาร</h3>
                        <p class="text-white">ชิงสิ่งที่คุณต้องการมาจากศัตรู: Glory Kill เพื่อพลังชีวิต เผาพวกมันเพื่อเกราะ และใช้เลื่อยไฟฟ้าผ่าเหล่าปีศาจเพื่อเก็บกระสุนเพื่อเป็นสุดยอดนักสังหารปีศาจ</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="https://images2.alphacoders.com/130/1303636.jpeg" alt="เข้าสู่ BATTLEMODE" class="rounded-md shadow-lg mb-4" style="width: 600px; height: auto;">
                        <h3 class="text-xl font-bold text-white mb-2">เข้าสู่ BATTLEMODE</h3>
                        <p class="text-white">ประสบการณ์ผู้เล่นหลายคนแบบ 2 ต่อ 1 ใหม่ DOOM Slayer พร้อมอาวุธเต็มอัตราปะทะกับปีศาจที่ผู้เล่นควบคุมสองตัว ต่อสู้กันในการต่อสู้แบบมุมมองบุคคลที่หนึ่งแสนดุเดือดที่ใครชนะสามเกมก่อนชนะ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white py-1">
            <div class="container mx-auto px-4 flex flex-col md:flex-row">
                <div class="px-6">
                    <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" > สเปคแนะนำ </blockquote>
                    <div class="prose max-w-none">
                        <table style="width: 90%; margin-left: 70px;">
                            <thead>
                                <tr>
                                    <th>ขั้นต่ำ:</th>
                                    <th>แนะนำ:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ต้องการโปรเซสเซอร์และระบบปฏิบัติการแบบ 64 บิต</td>
                                    <td>ต้องการโปรเซสเซอร์และระบบปฏิบัติการแบบ 64 บิต</td>
                                </tr>
                                <tr>
                                    <td>ระบบปฏิบัติการ: 64-bit Windows 7 / 64-bit Windows 10</td>
                                    <td>ระบบปฏิบัติการ: 64-bit Windows 10</td>
                                </tr>
                                <tr>
                                    <td>โปรเซสเซอร์: Intel Core i5 @ 3.3 GHz or better, or AMD Ryzen 3 @ 3.1 GHz or better</td>
                                    <td>โปรเซสเซอร์: Intel Core i7-6700K or better, or AMD Ryzen 7 1800X or better</td>
                                </tr>
                                <tr>
                                    <td>หน่วยความจำ: แรม 8 GB</td>
                                    <td>หน่วยความจำ: แรม 8 GB</td>
                                </tr>
                                <tr>
                                    <td>กราฟิก: NVIDIA GeForce GTX 1050Ti (4GB), GTX 1060 (3GB), GTX 1650 (4GB) or AMD Radeon R9 280(3GB), AMD Radeon R9 290 (4GB), RX 470 (4GB)</td>
                                    <td>กราฟิก: NVIDIA GeForce GTX 1060 (6GB), NVIDIA GeForce 970 (4GB), AMD RX 480 (8GB)</td>
                                </tr>
                                <tr>
                                    <td>เครือข่าย: การเชื่อมต่ออินเทอร์เน็ตแบบบรอดแบนด์</td>
                                    <td>เครือข่าย: การเชื่อมต่ออินเทอร์เน็ตแบบบรอดแบนด์</td>
                                </tr>
                                <tr>
                                    <td>พื้นที่จัดเก็บข้อมูล: พื้นที่ว่างที่พร้อมใช้งาน 80 GB</td>
                                    <td>พื้นที่จัดเก็บข้อมูล: พื้นที่ว่างที่พร้อมใช้งาน 80 GB</td>
                                </tr>
                                <tr>
                                    <td>หมายเหตุเพิ่มเติม: (1080p / 60 FPS / Low Quality Settings)</td>
                                    <td>หมายเหตุเพิ่มเติม: (1080p / 60 FPS / High Quality Settings) *On NVIDIA GTX 970 cards Texture Quality should be set to Medium</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
</div>

{% endblock content %}