{% extends "homebase.html" %}
{% load static %}

{% block title %} MINECRAFT {% endblock %}

{% block content %}

<section class="py-20 bg-cover bg-center" style="background-image: url('https://images2.alphacoders.com/135/1353836.png')">
    <div class="flex flex-col">
        <div class="py-8">
            <div class="container mx-auto px-4">
                <h1 class="text-4xl font-bold text-white mb-2" style="margin-left: 70px;"> MINECRAFT </h1>
                <p class="text-gray-200 mb-2" style="margin-left: 70px;">PC XBOX360 PS5 </p>
                <p class="text-gray-200" style="margin-left: 70px;">Posted: 27 Sep 2024</p>
            </div>
        </div>

    <div class="container mx-auto px-4 flex justify-center">
        <video width="800" height="450" controls>
            <source src="{% static 'videos/Minecraft.mp4' %}" type="video/mp4">
        </video>
    </div>
</section>
    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >Minecraft คือเกมอะไร</blockquote>
                <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/MC-Vanilla_Media-Block-Image_PC-Bundle-Keyart_800x450.jpg" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        ㅤสร้างโลกที่ไม่เหมือนใครของคุณ เอาตัวรอดจากเวลากลางคืน และสร้างทุกสิ่งที่คุณสามารถจินตนาการได้ และ ใน Minecraft<br> 
                        การผจญภัยของคุณเริ่มที่จินตนาการของคุณ สร้างทุกอย่างที่คุณจินตนาการได้ด้วยทรัพยากรที่มีไม่จำกัดในโหมด Creative<br>
                        หรือออกเดินทางครั้งยิ่งใหญ่ในโหมด Survival เดินทางไปทั่วดินแดนที่ลึกลับและเข้าสู่ความลุ่มลึกของโลกที่ไม่มีขีดจำกัดของคุณเอง<br> 
                        คุณจะซ่อนตัวจากเหล่าสัตว์ประหลาดหรือประดิษฐ์เครื่องมือ เกราะ และอาวุธเพื่อต่อสู้กับพวกมันล่ะ ไม่จำเป็นต้องไปคนเดียว!<br>
                        สร้าง สำรวจ และเอาตัวรอดคนเดียวหรือกับเพื่อนทาง PlayStation Network สูงสุดเจ็ดคน
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >ทําไมคุณถึงควรเล่น Minecraft</blockquote>
                <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/MC-Vanilla_Block-Column-Image_Mining_800x800.jpg" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        "แซนด์บ๊อกซ์ที่เน้นการใช้บล็อกที่ให้คุณได้สร้างเกมที่คุณอยากเล่นเสน่ห์ของMinecraft อยู่ที่ความสามารถที่จะเป็นอะไรก็ได้<br>ให้กับแฟนๆ
                        ของเกม ไม่ว่าจะเป็น ผู้สร้างเมืองที่ยิ่งใหญ่ นักเอาตัวรอดแบบฮาร์ดคอร์ หรือนักผจญภัยในโลกเปิด Minecraft สามารถ<br>เล่นได้ในแบบ 
                        ของคุณ เองความเปิดกว้างและความเฉลียวฉลาดของเกมนี้เป็นสิ่งที่ทําให้เกมที่ทําลายรูปแบบเดิมๆ เกมนี้กลายเป็น<br>ปรากฏการณ์ทางวัฒนธรรม 
                        ด้วยกราฟิกแบบบล็อกที่จดจําได้ ง่ายที่จะทําให้คุณนึกถึงเกมอาเขตย้อนยุค Minecraft เป็นการผสมผสาน<br>ของการ รําลึกถึงอดีตและความแปลกใหม่ไม่เหมือนใคร"
                        
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" > สเปคแนะนำ </blockquote>
                <div class="prose max-w-none">
                    <table style="width: 90%; margin-left: 70px;">
                        <thead>
                            <tr>
                                <th>ขั้นต่ำ:</th>
                                <th>แนะนำ:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ต้องการโปรเซสเซอร์และระบบปฏิบัติการแบบ 64 บิต</td>
                                <td>ต้องการโปรเซสเซอร์และระบบปฏิบัติการแบบ 64 บิต</td>
                            </tr>
                            <tr>
                                <td>ระบบปฏิบัติการ: 64-bit Windows 7 / 64-bit Windows 10</td>
                                <td>ระบบปฏิบัติการ: 64-bit Windows 10</td>
                            </tr>
                            <tr>
                                <td>โปรเซสเซอร์: Intel Core i3-3210 , or AMD Radeon HD7000 </td>
                                <td>โปรเซสเซอร์: Intel Core  i5-4690 3.5GHz , or AMD A10-7800 </td>
                            </tr>
                            <tr>
                                <td>หน่วยความจำ: แรม 8 GB</td>
                                <td>หน่วยความจำ: แรม 8 GB</td>
                            </tr>
                            <tr>
                                <td>กราฟิก: NVIDIA GeForce 400 , AMD Radeon HD7000 </td>
                                <td>กราฟิก: Nvidia GeForce 700 , AMD Radeon Rx200 </td>
                            </tr>
                            <tr>
                                <td>พื้นที่จัดเก็บข้อมูล: พื้นที่ว่างที่พร้อมใช้งาน 1 GB</td>
                                <td>พื้นที่จัดเก็บข้อมูล: พื้นที่ว่างที่พร้อมใช้งาน 4 GB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>


{% endblock content %}
