{% extends "homebase.html" %}
{% load static %}

{% block title %} Black Myth:Wukong {% endblock %}

{% block content %}

<div class="flex flex-col">
    <div class="bg-white py-8">
        <div class="container mx-auto px-4">
            <h1 class="text-4xl font-bold text-gray-800 mb-2" style="margin-left: 70px;">เล่าก่อนเล่น Black Myth: Wukong</h1>
            <p class="text-gray-600 mb-2" style="margin-left: 70px;">ทำความรู้จักกับ Black Myth: Wukong เกมแอ็กชันผจญภัยจากวรรณกรรมจีนคลาสสิก "ไซอิ๋ว"</p>
            <p class="text-gray-600" style="margin-left: 70px;">Posted: 27 Sep 2024</p>
        </div>
    </div>

    <hr class="border-t-2 border-gray-300 my-8 mx-auto" style="width: 90%;">

    <div class="bg-white py-8">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F29%2F2024%2F2b17f5bf-3c5b-4fd4-ae82-d93c6774fefc.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        ㅤเมื่อวันที่ 20 สิงหาคม 2024 ที่ผ่านมา เหล่านักเล่นเกมชาว PC และ PlayStation 5
                        ได้สัมผัสกับเรื่องราวการเดินทางสู่<br>ชมพูทวีปในฉบับของเกมแอ็กชัน RPG กับ Black Myth: Wukong 
                        ที่พัฒนาโดยบริษัทเกมจีนชื่อ Game Science ซึ่งเป็นสตูดิโออิสระ<br>ที่เพิ่งก่อตั้งทว่าผลงานชิ้นแรกของพวกเขาก็สามารถสร้างความฮือฮาให้กับวงการเกมทั่วโลก
                        ได้อย่างมาก โดย Black Myth: Wukong<br> ดึงดูดความสนใจของเหล่านักเล่นเกมด้วยภาพกราฟิกที่สวยงามอลังการ 
                        การออกแบบตัวละครที่อิงจากวรรณคดีจีนเรื่อง "ไซอิ๋ว"<br>โดยเฉพาะตัวละครหลัก “ซุนหงอคง”
                        (หรืออาจจะเป็นตัวละครที่มีรูปร่างและความสามารถใกล้เคียงกับหงอคง)และสไตล์การต่อสู้<br>ที่รวดเร็วและตื่นเต้นเร้าใจ 
                        จึงทำให้เกมเมอร์หลายคนให้ความสนใจตั้งแต่การเปิดตัวครั้งแรกเมื่อเดือนกุมภาพันธ์ปี 2020 ไปโดยปริยาย
                    </h3>
            </div>
        </div>

    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >เรื่องราวการเดินทางใน Black Myth: Wukong</blockquote>
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2F53c898d0-5158-460d-bb5e-4a09f2b8812d.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        Black Myth: Wukong ดัดแปลงเนื้อหาจากวรรณกรรมจีนคลาสสิก "Journey to the West" หรือ "ไซอิ๋ว" โดยมุ่งเน้นไปที่<br>เรื่องราวที่มีส่วนเกี่ยวข้อง
                    กับตัวละครนามว่า “ซุนหงอคง” หรือ "ราชาวานร" ผู้มีพลังมหาศาลและอิทธิฤทธิ์มากมาย<br>เนื้อเรื่องของเกมจะพาผู้เล่นเข้าสู่การผจญภัยของซุนหงอคงในโลก
                    ที่เต็มไปด้วยสิ่งมีชีวิตเหนือธรรมชาติและเทพเจ้า
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2Fbd98ffa2-234e-4ff2-9b5e-e32cc5a79f15.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        ในเกมนี้ ตัวเอกคงจะต้องเผชิญหน้ากับความท้าทายต่างๆ ที่เกี่ยวข้องกับการพิสูจน์ความสามารถของตนเองและค้นหาความ<br>หมายที่แท้จริงของความเป็นตัวเอง
                        องค์ประกอบหลักของเนื้อเรื่องจะรวมถึงการสำรวจโลกที่กว้างใหญ่และการต่อสู้กับศัตรูที่มี<br>ความหลากหลายซึ่งช่วยเพิ่มความตื่นเต้นและความสนุกในการเล่น
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2F15b23553-eefb-44b5-8a39-e16faab18e5f.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        โดย Black Myth: Wukong จะเล่าเรื่องราวที่ยังคงรักษาแก่นแท้ของวรรณคดีไซอิ๋วเอาไว้ แต่ได้นำเสนอในรูปแบบที่ทันสมัย<br>และน่าสนใจมากขึ้น 
                        ผู้เล่นจะได้สัมผัสกับการผจญภัยของซุนหงอคง (หรืออาจจะเป็นตัวละครที่มีรูปร่างและความสามารถใกล้<br>เคียงกับหงอคง) ในโลกที่เต็มไปด้วยสัตว์ประหลาด 
                        เทพเจ้า และมนุษย์ที่มีความสามารถพิเศษต่าง ๆ
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >ระบบการต่อสู้และการสำรวจ</blockquote>
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2F8f1fb8c3-0231-4463-914a-b09255bb45b7.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        Black Myth: Wukong เป็นเกมแอ็กชัน RPG ที่โดดเด่นจากการชูโรงด้านงงานภาพและระบบต่อสู้ที่ออกแบบมาอย่างดี<br> 
                        ผู้เล่นสามารถใช้กระบองวิเศษของซุนหงอคงในการโจมตีระยะไกลและระยะใกล้ได้อย่างคล่องแคล่ว นอกจากนี้ยังมีทักษะ<br>
                        พิเศษอีกมากมายที่ผู้เล่นสามารถปลดล็อกและพัฒนาได้ เช่น การแปลงร่างเป็นสัตว์ต่าง ๆ การใช้อิทธิฤทธิ์เวทมนตร์ 
                        <br>และการเรียกใช้พลังจากธรรมชาติ เป็นต้น
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2F4d344538-b0f8-434e-8991-bd192582a1d7.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        ส่วนการสำรวจโลกในเกม Black Myth: Wukong แม้ตัวเกมจะไม่ใช่เกม Open World แต่ก็ถูกออกแบบมาให้ผู้เล่นเดิน<br>
                        เหินออกสำรวจได้อย่างอิสระ ผู้เล่นจะได้เดินทางผ่านป่าเขาลำเนาไพร เมืองโบราณ และดินแดนลึกลับต่าง ๆ ในระหว่างการ<br>
                        เดินทาง ผู้เล่นจะได้พบกับปัญหาต่าง ๆ ที่ต้องไข และต้องใช้ความสามารถในการเอาชนะอุปสรรคต่าง ๆ
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >ความยากของเกม</blockquote>
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2F82a69e53-3740-47f9-8670-cfe6203004de.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        ㅤแม้ในเริ่มต้นอาจมีใครหลายคนเข้าใจหรืออาจสงสัยว่า Black Myth: Wukong เป็นเกมประเภท Soulslike 
                        หรือเป็นเกม<br>ที่มีความยากระดับเกมตระกูลโซลเลยหรือเปล่า ? ก็คงต้องบอกเลยว่า “ไม่ยากถึงขั้นนั้น” เพราะทางผู้
                        พัฒนาได้ระบุชัดเจนว่า<br>เกมนี้คือเกม “แอ็กชัน RPG” ที่ถึงแม้จะมีระบบการต่อสู้ที่คล้ายคลึงกับเกมแนว Soulslike 
                        และ Sekiro-like แต่เกมนี้คงไม่ได้<br>ยากมากเกินไปนัก (แต่ก็ท้าทายอยู่ประมาณหนึ่งนะ)
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >คำวิจารณ์จากสื่อเกม</blockquote>
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2F51f5dfb8-ecd7-4454-a48d-0583a32c41dc.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        ㅤคะแนนรีวิวรอบสื่อของเกม Black Myth: Wukong ได้ถูกเปิดเผยสู่สายตาเกมเมอร์พร้อมกันทั่วโลกตั้งแต่<br>วันที่ 16 สิงหาคม 2024 
                        ที่ผ่านมา โดยคำวิจารณ์ส่วนใหญ่จะชื่นชมระบบการต่อสู้ที่สนุกสนานเพลิดเพลิน พลิกแพลงและ<br>ประยุกต์ความสามารถของตัวเอกได้อย่าง
                        หลากหลาย งานภาพตระการตา และการต่อสู้กับบอสนั้นสนุกมากเป็นพิเศษ
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2F5cdf4a9a-6200-416d-bcce-008274e86a19.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        ส่วนข้อสังเกตโดยส่วนมากจะกล่าวถึงเรื่องราวที่อาจเข้าใจยาก เพราะเนื้อเรื่องอ้างอิงจากนิยายไซอิ๋ว ทำให้ผู้ที่ไม่คุ้นเคย<br>กับเรื่องราว
                        นี้อาจรู้สึกงุนงงได้ และการเล่นเกมนี้บน PC พบปัญหาการกระตุก
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >แพลตฟอร์มที่รองรับในปัจจุบัน</blockquote>
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2F82d5c23e-26ef-4237-bc3c-ec76e032c15a.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        ㅤณ ปัจจุบัน Black Myth: Wukong มีกำหนดวางจำหน่ายบน PlayStation 5 และ PC ในวันที่ 20 สิงหาคม 2024 
                        นี้ โดยจะเปิดให้เล่นพร้อมกันทั่วโลกในเวลาประมาณ 09.00 น. ส่วนชาว Xbox ที่อยากเล่นเกมนี้คงต้องรอต่อไป
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-1">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="px-6">
                <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >ทำไมเกมนี้บน PS5 ถึงยังไม่มีแผ่นในปัจจุบัน ?</blockquote>
                <img src="https://storage.googleapis.com/prod-games-on-website-media/contents%2FcontentBody%2F8%2F21%2F2024%2F141780f5-a93d-4c0f-b8c5-d4d998f6634e.webp" 
                alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                <div class="prose max-w-none">
                    <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                        ㅤทาง Game Science หรือผู้พัฒนาเกม Black Myth: Wukong ได้ออกมาตอบคำถามนี้ผ่านหัวข้อ FAQ (คำถามที่พบบ่อย)<br> 
                        โดยให้เหตุผลเกี่ยวกับการที่เกมนี้บน PlayStation 5 ยังไม่มีแผ่นในปัจจุบันไว้ว่า เนื่องจากการจัดจำหน่ายเกมครั้งนี้ ถือเป็นครั้งแรก<br>ที่ทาง 
                        Game Science วางจำหน่ายเกมออกไปทั่วโลก ทำให้ขณะนี้ทาง Game Science กำลังเผชิญข้อจำกัดด้านทรัพยากรแบบ<br>ออฟไลน์ที่จำเป็น
                        สำหรับการนำเข้า ส่งออก ขนส่ง การจัดจำหน่าย และการขายแผ่นเกม ปัจจัยเหล่านี้ส่งผลให้ทาง Game Science<br>ไม่สามารถวางจำหน่าย
                        ตัวเกมแบบแผ่นได้ทันท่วงทีในปัจจุบัน ซึ่งทาง Game Science ก็ไม่ได้นิ่งนอนใจและกำลังหาทางแก้ปัญหา<br>เกี่ยวกับแผ่นเกมอยู่ เกมเมอร์
                        ท่านใดที่สนใจจะซื้อเกมนี้แบบแผ่น คงต้องรอติดตามข่าวสารกันต่อไปอีกสักพัก
                    </h3>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}