{% extends "homebase.html" %}
{% load static %}

{% block title %} Marvel's Spider-Man Remastered {% endblock %}

{% block content %}

<section class="py-20 bg-cover bg-center" style="background-image: url('https://wallpapercave.com/wp/wp7593697.jpg')">
    <div class="flex flex-col">
        <div class="py-8">
            <div class="container mx-auto px-4">
                <h1 class="text-4xl font-bold text-white mb-2" style="margin-left: 70px;"> Marvel's Spider-Man Remastered </h1>
                <p class="text-gray-200 mb-2" style="margin-left: 70px;">PC PS4 PS5 </p>
                <p class="text-gray-200" style="margin-left: 70px;">Posted: 27 Sep 2024</p>
            </div>
        </div>
    
    <div class="container mx-auto px-4 flex justify-center">
        <iframe width="800" height="450" src="https://video.akamai.steamstatic.com/store_trailers/256900369/movie480_vp9.webm?t=1672791651" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    </div>    
</section>

        <div class="bg-white py-8">
            <div class="container mx-auto px-4 flex flex-col md:flex-row">
                <div class="px-6">
                    <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;" >Marvel's Spider-Man Remastered คือเกมอะไร</blockquote>
                    <img src="https://wallpapercave.com/wp/wp7593708.jpg" 
                    alt="Blog Featured Image" class="mx-auto my-4 rounded-md" style="margin-left: 70px; width: 800px; height: auto;">
                    <div class="prose max-w-none">
                        <h3 class="my-1 text-1xl indent-8 text-balance p-1 font-sarabun " style="margin-left: 70px;" >
                            ㅤนี่ไม่ใช่สไปเดอร์แมนแบบที่คุณเคยพบหรือเคยเห็นมาก่อน ใน Marvel's Spider-Man Remastered เราจะได้พบกับปีเตอร์<br> 
                            ปาร์คเกอร์ที่มีประสบการณ์แล้ว ผู้ที่สามารถสู้กับอาชญากรรมครั้งใหญ่ในเมืองนิวยอร์กได้อย่างเชี่ยวชาญยิ่งขึ้น ในเวลาเดียวกัน<br>
                            เขาก็ต้องพยายามสร้างสมดุลระหว่างชีวิตส่วนตัวและงานที่วุ่นวายขณะที่แบกรับชะตากรรมของนิวยอร์กของ Marvel ไว้บนไหล่<br>ของเขา
                            พบกับเรื่องราวการโหนใยแมงมุมที่สมบูรณ์ด้วย Marvel's Spider-Man: Miles Morales Ultimate Edition. 
                            ชุดเกมที่พลาด<br>ไม่ได้นี้ประกอบด้วยรหัสบัตรกำนัล** สำหรับ Marvel's Spider-Man Remastered เกมมือรางวัลฉบับสมบูรณ์ 
                            รวมถึง DLC <br>ทั้งสามตัวใน Marvel's Spider-Man: The City That Never Sleeps ที่รีมาสเตอร์และปรับปรุงเพื่อคอนโซล PS5 
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-cyan-900 py-1">
            <div class="container mx-auto px-4 text-center">
                <h2 class="text-4xl font-bold text-white mb-8">คุณสมบัติสำคัญ</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                    <div class="flex flex-col items-center">
                        <img src="https://wallpaperaccess.com/full/8712455.jpg" alt="เก่งยิ่งขึ้นกว่าเดิม" class="rounded-md shadow-lg mb-4" style="width: 600px; height: auto;">
                        <h3 class="text-xl font-bold text-white mb-2">เก่งยิ่งขึ้นกว่าเดิม</h3>
                        <p class="text-white">เมื่อวายร้ายตัวใหม่มาคุกคามนิวยอร์คในโลกของมาร์เวล โลกของปีเตอร์ ปาร์คเกอร์และสไปเดอร์แมนจึงโคจรมาเจอกัน 
                            เพื่อจะกอบกู้เมืองและช่วยเหลือคนที่เขารัก เขาต้องพยายามมากขึ้นและต้องแกร่งยิ่งกว่าเดิม</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="https://wallpapercave.com/wp/wp7593594.jpg" alt="รู้สึกเหมือนเป็นสไปเดอร์แมน" class="rounded-md shadow-lg mb-4" style="width: 600px; height: auto;">
                        <h3 class="text-xl font-bold text-white mb-2">รู้สึกเหมือนเป็นสไปเดอร์แมน</h3>
                        <p class="text-white">หลังปฏิบัติหน้าที่ภายใต้หน้ากากมาแปดปี ปีเตอร์ ปาร์คเกอร์ก็กลายเป็นนักสู้เหล่าร้ายผู้เชี่ยวชาญ 
                            สัมผัสถึงพลังของสไปเดอร์แมนที่มีประสบการณ์มากกว่าด้วยการต่อสู้ด้วยสัญชาตญาณ กายกรรมผาดโผนสุดสร้างสรรค์ 
                            การเดินทางไปทั่วเมืองอย่างลื่นไหล และการตอบสนองกับสิ่งแวดล้อม ไม่ได้เป็นมือสมัครเล่นอีกแล้ว 
                            นี่คือสไปเดอร์แมนที่มีทักษะยอดเยี่ยมที่สุดที่คุณเคยเล่น</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="https://images7.alphacoders.com/134/1344835.png" alt="โลกโคจรมาบรรจบ" class="rounded-md shadow-lg mb-4" style="width: 600px; height: auto;">
                        <h3 class="text-xl font-bold text-white mb-2">โลกโคจรมาบรรจบ</h3>
                        <p class="text-white">โลกของปีเตอร์ ปาร์คเกอร์และสไปเดอร์แมนมาบรรจบกันในเรื่องราวที่เต็มไปด้วยแอ็กชัน ในจักรวาลสไปเดอร์แมนใหม่นี้ 
                            ตัวละครที่เป็นที่รู้จักจากชีวิตของปีเตอร์และสไปเดอร์แมนได้รับการคิดขึ้นมาใหม่ นำตัวละครที่คุ้นเคยมาอยู่ในบทบาทที่ไม่เหมือนใคร</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white py-1">
            <div class="container mx-auto px-4 flex flex-col md:flex-row">
                <div class="px-6">
                    <blockquote class="text-3xl font-bold border-l-4 border-gray-900 italic my-8 pl-8 md:pl-12" style="width: 90%; margin-left: 70px;"> สเปคแนะนำ </blockquote>
                    <div class="prose max-w-none">
                        <table style="width: 90%; margin-left: 70px;">
                            <thead>
                                <tr>
                                    <th>ขั้นต่ำ:</th>
                                    <th>แนะนำ:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ต้องการโปรเซสเซอร์และระบบปฏิบัติการแบบ 64 บิต</td>
                                    <td>ต้องการโปรเซสเซอร์และระบบปฏิบัติการแบบ 64 บิต</td>
                                </tr>
                                <tr>
                                    <td>ระบบปฏิบัติการ: Windows 10 64-bit</td>
                                    <td>ระบบปฏิบัติการ: Windows 10 64-bit</td>
                                </tr>
                                <tr>
                                    <td>โปรเซสเซอร์: Intel Core i3-4160, 3.6 GHz or AMD equivalent</td>
                                    <td>โปรเซสเซอร์: Intel Core i5-4670, 3.4 GHz or AMD Ryzen 5 1600, 3.2 GHz</td>
                                </tr>
                                <tr>
                                    <td>หน่วยความจำ: แรม 8 GB</td>
                                    <td>หน่วยความจำ: แรม 16 GB</td>
                                </tr>
                                <tr>
                                    <td>กราฟิกส์: NVIDIA GTX 950 or AMD Radeon RX 470</td>
                                    <td>กราฟิกส์: NVIDIA GTX 1060 6GB or AMD Radeon RX 580 8GB</td>
                                </tr>
                                <tr>
                                    <td>DirectX: เวอร์ชัน 12</td>
                                    <td>DirectX: เวอร์ชัน 12</td>
                                </tr>
                                <tr>
                                    <td>พื้นที่จัดเก็บข้อมูล: พื้นที่ว่างที่พร้อมใช้งาน 75 GB</td>
                                    <td>พื้นที่จัดเก็บข้อมูล: พื้นที่ว่างที่พร้อมใช้งาน 75 GB</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>                
        
</div>

{% endblock content %}